In [1]:
# DMRB LA111 Processing Tool instructions
# 1. Copy building evaluation data into the template (with facade correction and TRL correction for night time)
# 2. Put the template into the 'Input' folder
# 3. Load the notebook and press 'Run' on the top bar with the cell highlighted. 

# Importing DMRB module:
import DMRBModule as DMRB

# Calling 'Main' function with parameters: input locaiton, output location, day and night LOAEL & SOAEL criteria. 
DMRB.Main('Input_Template.xlsx', 'Output1.xlsx', LOAEL=54.5, SOAEL=67.5, NLOAEL=39.5, NSOAEL=54.5, Day=True, Night=True, ST=True, LT=True, Excelout=True, WebTAG=True, NIR=True)

> Summarising day time and night time magnitude of impact over the short term and long term

,ST Day RES,ST Day OSR,ST Night RES,ST Night OSR
<=-5,28,0,25,0
>-5<=-3,216,0,118,0
>-3<=-1,"2,307",0,"2,145",0
>=-1<0,"3,039",0,"3,310",0
=0,43,0,48,0
>0<1,"3,731",0,"4,289",0
>=1<3,"3,649",0,"3,381",0
>=3<5,641,0,358,0
>=5,107,0,87,0
Total,"13,761",0,"13,761",0
,LT Day RES,LT Day OSR,LT Night RES,LT Night OSR
<=-10,0,0,0,0
>-10<=-5,23,0,19,0
>-5<=-3,42,0,30,0
>=-3<0,"2,453",0,"2,480",0
=0,29,0,35,0
>0<3,"9,749",0,"10,082",0
>=3<5,"1,324",0,"1,007",0
>=5<10,141,0,108,0
>=10,0,0,0,0
Total,"13,761",0,"13,761",0

> Calculating noise insulation.
> Dwellings exceeding 68dB in DSOY on any facade:  1168
> Dwellings exceeding 68dB in DSOY and >= 1dB ST change on same facade:  297

,<45,45-48,48-51,51-54,54-57,57-60,60-63,63-66,66-69,69-72,72-75,75-78,78-81,>=81
<45,2899,1075,28,0,0,0,0,0,0,0,0,0,0,0
45-48,347,1990,629,12,1,0,0,0,0,0,0,0,0,0
48-51,3,268,893,229,3,41,0,0,0,0,0,0,0,0
51-54,0,3,152,494,261,55,0,0,0,0,0,0,0,0
54-57,0,0,4,200,415,330,1,0,0,0,0,0,0,0
57-60,0,0,0,5,152,363,362,41,0,0,0,0,0,0
60-63,0,0,0,0,1,129,490,185,1,0,0,0,0,0
63-66,0,0,0,0,1,25,200,609,139,2,0,0,0,0
66-69,0,0,0,0,0,0,7,252,190,0,0,0,0,0
69-72,0,0,0,0,0,0,0,17,133,65,0,0,0,0
72-75,0,0,0,0,0,0,0,0,0,50,9,0,0,0
75-78,0,0,0,0,0,0,0,0,0,0,0,0,0,0
78-81,0,0,0,0,0,0,0,0,0,0,0,0,0,0
>=81,0,0,0,0,0,0,0,0,0,0,0,0,0,0
,<45,45-48,48-51,51-54,54-57,57-60,60-63,63-66,66-69,69-72,72-75,75-78,78-81,>=81
<45,2089,989,23,0,0,0,0,0,0,0,0,0,0,0
45-48,301,2467,760,15,0,0,0,0,0,0,0,0,0,0
48-51,1,262,1100,255,6,0,0,0,0,0,0,0,0,0
51-54,0,7,126,518,164,75,8,0,0,0,0,0,0,0
54-57,0,0,3,169,466,345,29,0,0,0,0,0,0,0
57-60,0,0,0,10,164,372,322,4,0,0,0,0,0,0
60-63,0,0,0,0,1,79,533,285,0,0,0,0,0,0
63-66,0,0,0,0,0,24,104,693,146,3,0,0,0,0
66-69,0,0,0,0,0,0,7,193,298,1,0,0,0,0
69-72,0,0,0,0,0,0,0,0,169,114,0,0,0,0
72-75,0,0,0,0,0,0,0,0,0,41,20,0,0,0
75-78,0,0,0,0,0,0,0,0,0,0,0,0,0,0
78-81,0,0,0,0,0,0,0,0,0,0,0,0,0,0
>=81,0,0,0,0,0,0,0,0,0,0,0,0,0,0

> Saving data to Output1.xlsx
> ... Highest absolute levels
> ... Magnitude of Impact
> ... WebTAG tables
> ... buildings with facades exceeding 67.5dB (maximum short term change exported)

> Process complete

> Execution time:
> Read data:  9.296 seconds
> Magnitude of change calculation:  0.348 seconds
> Absolute levels calculation:  0.664 seconds
> WebTAG calculation:  0.589 seconds
> Output / writing files:  25.455 seconds